.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* Copies the h3 style from the default but we don't
 * want the end of para that follows a h3 */
.fpTitle {
  font-size: var(--ifm-h3-font-size);
  color: var(--ifm-headig-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

.fpPostNominal {
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}